.home {
  background-image: url(https://i.imgur.com/jF6IrB2.jpeg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: 50% 50%;
  max-width: 1200px;
  margin: 20 auto;
  padding: 18rem;
  text-align: center;
  font-size: larger;
  text-shadow: -2px 2px 0 #000,
  2px 2px 0 #000,
  2px -2px 0 #000,
  -2px -2px 0 #000;
  font-family: cursive;
  color: #81966b;
  
  
}

.usernamedisplay {
  background-image: url(https://images.unsplash.com/photo-1487266659293-c4762f375955?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
  background-repeat: no-repeat;
  background-size:cover;
  max-width: 1400px;
  margin: 20 auto;
  padding: 20rem;
  text-align: center;
  font-size: larger;
  font-family: cursive;
  

}

.link {
  color:#81966b;
   text-align: center;
  font-size: larger;
  text-shadow: -1px 1px 0 #b0c494,
  1px 1px 0 #b0c494,
  1px -1px 0 #b0c494,
  -1px -1px 0 #b0c494;
  font-family: cursive;
}






.gametitle {
  background-image: url(https://images.unsplash.com/photo-1571156425562-12341e7c9aae?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Ym9hcmRnYW1lJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60);
  background-repeat: no-repeat;
  background-size:cover;
  max-width: 1400px;
  margin: 20 auto;
  padding: 20rem;
  text-align: center;
  font-size: larger;
  font-family: cursive;
  color: rgb(255, 234, 175);
  text-shadow: -1px 1px 0 #b0c494,
  1px 1px 0 #b0c494,
  1px -1px 0 #b0c494,
  -1px -1px 0 #b0c494;
}


/*trying to add image to per id - not successfull*/
#info1 {
  background-image: url(https://i.ebayimg.com/images/g/fcEAAOSwQghhsN0N/s-l640.png);
}

.Navbar{
background-color: #617051;
border: 0.5vw solid #c5ccbb;
padding: .5em;
text-align: right;
margin-top: .8em;
font-size: 1rem;
/* display: flex;
justify-content: space-between;
list-style-type: none; */
margin: 1;
padding: 1;
display: flex;
flex-flow: row nowrap;
justify-content: space-around; 
}

/*testing this out - stuck on clicking and not hover */
.Navbar:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}













